/* Reset body margins and ensure full viewport coverage */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide overflow */
}

canvas {
  display: block; /* Removes default canvas margin */
}
